.nav-logged-in {
  width: 100%;
  height: 100%;
}

.nav-logged-in-section {
  float: left;
  width: 49%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav {
  background: -webkit-gradient(linear, left top, right top, from(#0f0c29), color-stop(#302b63), to(#24243e));
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
  height: 80%;
  width: 100%;
  position: fixed;
  display: none;
}

.navHide {
  color: #fff;
  position: absolute;
  bottom: -5px;
}

.navHide img {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.navShow {
  color: #fff;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.gamer-level {
  width: 50%;
}

.gamer-label {
  margin: 10px 0;
  height: 60px;
}

.gamer-label i,
.gamer-label div {
  color: #fff;
  text-shadow: 0 0 3px #0a0a0a;
  height: 60px;
  border: 5px solid;
  float: left;
  text-align: center;
  line-height: 45px;
  font-size: 28px;
}

.gamer-label i {
  border-right: none;
  background: #333;
  width: 10%;
  border-color: #333;
}

.gamer-label div {
  background: #eee;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 89%;
  -webkit-box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.5) inset;
          box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.5) inset;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.game-description {
  width: 50%;
  margin: 5px auto;
  min-width: 500px;
}

.the-grid-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1s linear forwards;
          animation: dash 1s linear forwards;
}

.the-grid-line:nth-child(odd) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.instance-selects {
  overflow-x: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#4ac29a), to(#bdfff3));
  background: linear-gradient(0deg, #4ac29a, #bdfff3);
}

.instance-select {
  margin: 2px 0;
  cursor: pointer;
}

.instance-select:hover {
  background: #1a1a1a;
}

.instance-label {
  margin: 5px;
  border-radius: 4px;
  height: 54px;
  line-height: 50px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  background: #1a1a1a;
}

.instance-label .label-type {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#333));
  background: linear-gradient(0deg, #000, #333);
  width: 50px;
  font-size: 36px;
  border: 2px solid #000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.instance-label .label-data {
  border: 5px solid #000;
  border-left: none;
  line-height: 44px;
  float: right;
  padding: 0 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.instance-label .label-last {
  line-height: 25px;
  font-size: 16px;
  border: 2px solid #000;
}

.instance-label,
.instance-label div {
  display: inline-block;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.row:nth-of-type(2n) .location:nth-of-type(2n) {
  background-color: #ddd;
}

.row:nth-of-type(2n+1) .location:nth-of-type(2n+1) {
  background-color: #ddd;
}

