@import "variables", "nav";

html, body {
  height: 100vh;
  margin:0;
}
.the-grid-line{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
}
.the-grid-line:nth-child(odd){
  animation-delay:.25s;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.game-container{

}


.row:nth-of-type(2n) .location:nth-of-type(2n) {
  background-color:#ddd;
}
.row:nth-of-type(2n+1) .location:nth-of-type(2n+1) {
  background-color:#ddd;
}
