@import "variables";

html, body {
  height: 100vh;
  margin:0;
}

#nav{
  background: linear-gradient(-45deg,$navGradient1,$navGradient2);
  height: 80%;
  width: 100%;
  position: fixed;
  display:flex;
}

.navHide{
  color:#fff;
  margin: 0 auto;
  align-self: flex-end;
  display: flex;
}
.navShow{
  background: linear-gradient(-45deg,$navGradient1,$navGradient2);
  color: #fff;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.container{
  display:inline-flex;
  height:100%;
  width:100%;
  align-items: center;
  justify-content: center;
}
.board{
  display: grid;
  height:600px;
  width:600px;
  background: #333;
}
.row{
  display:inline-grid;
  grid-column: 1/span 3;
  color:#fff;
  text-shadow:0 1px 1px rgba(0,0,0,1);
}
.location{
  grid-row: 1/span 1;
  width: 200px;
  height: 200px;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  display: grid;
}
.row:nth-of-type(2n) .location:nth-of-type(2n) {
  background-color:#ddd;
}
.row:nth-of-type(2n+1) .location:nth-of-type(2n+1) {
  background-color:#ddd;
}
